{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">


                    <h1 class="card-title text-center">Upload a Check</h1>
                    <form action="/handleUploadCheck" method="post" enctype="multipart/form-data">
                        Browse (pdf, jpeg, bmp, zip): <BR>
                        {{form.photo}}
                        <p>
                            {{ form.password.label }}<br>
                            {{ form.password(size=32) }}
                        </p>

                        <p>
                            {{ form.amount.label }}<br>
                            {{ form.amount(size=32) }}
                        </p>
                        <p>
                            {{ form.message.label }}<br>
                            {{ form.message(size=32) }}
                        </p>
                        <input type="submit" class="btn btn-primary" value="Upload"/>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}